# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/system/node_modules
/wechat/node_modules

# file
/server/download
/server/upload

# production
/server/build
/wechat/build
/backup_wechat/build

# misc
.DS_Store
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*


readme.md

# IDE config
/.idea/
