.g-brad {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 56px 10px;
  background: #fff;


  
  .m-detail-wrap {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.05), -2px -2px 2px rgba(0,0,0,.05);
  }

  .m-logo {
    height: 40px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .m-logo>img {
      height: 100%;
  }

  .m-tl>.title {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      flex: 1;
      justify-content: center;
  }

  .info {
      display: flex;
      flex-direction: column;
  }

  .m-tl {
    display: flex;
    border-bottom: 1px dashed #eee;
    padding-bottom: 10px;
}

.m-cnt {
    display: flex;
    padding-top: 5px;
}

.m-cnt>div {
    flex: 1;
}

.m-person>i,.m-phone>i {
    margin: 5px;
}


.m-phone {
    display: flex;
}

.m-phone-list {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
}

.m-type {
    display: flex;
    margin-top: 10px;
}


}
