@import '../../less/variables.less';

.g-content {
    height: 100%;
    background: #ededed;
    flex: 1;
}

.g-menu {
    height: 100%;
}

.m-logo {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    background: #006699;
    color: #fff;
}

.m-menu {
  display: flex;
  padding: 12px 0;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.m-appy-menu {
    margin: 10px 0;
    display: flex;
    flex-direction: row-reverse;
}

