#root {
    min-width: 1200px;
    width: 1200px;
    margin: 0 auto;
}

body {
  color: #3C4E65;
  font-family: 'Hiragino Kaku Gothic ProN', YuGothic, 'Yu Gothic Medium', Meiryo, sans-serif;
  background-color: #DBE6E8;
}

  button {
    font-family: 'Hiragino Kaku Gothic ProN', YuGothic, 'Yu Gothic Medium', Meiryo, sans-serif!important;
  }

.c-blue {
  background: #3d74aa!important;
  color: #fff;
}

.c-yell {
  background: #c6b065!important;
  color: #fff;
}

.c-grey {
    background: #FAFBFC !important;
    color: #666;
}

.c-green {
  background: #269F9A!important;
  color: #fff;
}


.fn-hide {
  display: none!important
}

.fn-show {
  display: block!important
}

.m-btn {
  width: 300px;
  height: 40px;
}


.m-del {
  position: absolute;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ff0000;
  right: -13px;
  top: -13px;
  cursor: pointer;
  transition: .5s;
  display: none;
  z-index: 999;
  color: #fff;
}


.m-del:before,.m-del:after {
  content: ' ';
  position: absolute;
  right: 12px;
  top: 5px;
  border-left: 2px solid #eee;
  height: 15px;
  width: 0;
}

.m-del:before {
  transform: rotate(45deg);
}

.m-del:after {
  transform: rotate(-45deg);
}

.m-form-text, .m-form-select, .m-form-text input {
  border-radius: 4px;
  width: 100%;
  min-height: 40px;
}


.m-form-text>div {
  width: 100%;
}


.ant-calendar-picker-input {
    display: flex;
    align-items: center;
}


select, input, textarea {
  width: 100%;
  color: #3C4E65;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #B2C4C7;
  background-color: #FAFBFC;
}

select, input {
  height: 40px!important;
}

.fn-frc {
  justify-content: center;
}

.fn-fcc {
  align-items: center;
}

.ant-form-item-required::before {
  font-size: 12px;
  content: '必須';
  border: 1px solid #ff0000;
  padding: 2px;
  margin-right: 10px;
  font-family: 'Hiragino Kaku Gothic ProN', YuGothic, 'Yu Gothic Medium', Meiryo, sans-serif;
}


.ant-form-item-label {
  text-align: unset; 
}

.ant-form-item-label > label {
    color: rgba(0, 0, 0, 0.5);
}



.ant-input-number, .ant-calendar-picker-input {
  min-height:40px;
}

.ant-select-selection {
  min-height:45px;
  display:flex;
  align-items:center;
  padding: 5px 00 10px;
}

button.m-tab-del {
  font-size: 16px;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  padding: 0;
  line-height: 24px;
}

.ant-calendar-picker {
    width: 100%;
}



.has-error .ant-form-explain, .has-error .ant-form-split {
    display: block;
}

.ant-form-explain {
    display: none;
    margin-top: 5px;
}


.ant-select-selection--multiple .ant-select-selection__rendered {
    width: 100%;
}

.ant-switch-checked {
    background-color: #EA6464;
}

.ant-btn.ant-btn-danger {
    background: #EA6464;
    color: #fff;
}



.ant-pagination {
  display: flex;
  margin: 10px;
}

.ant-pagination-total-text {
  order: 2;
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.m-page-count {
    color: #ff0000;
    font-style: normal;
    font-size: 24px;
    margin: 0 10px;
    font-weight: bold;
    font-family: 'Rajdhani';
}



@media only screen and (max-width: 768px) {

  #root {
    min-width: 100%;
    width: 100%;
    margin: unset;
  }

  .ant-calendar {
      width: 100%;
  }

  .ant-row {
      display: flex;
      flex-direction: column;
  }

  .ant-row>div {
      width: 100%;
  }

  .ant-calendar-picker-container {
      width: calc( 100% - 20px );
      left: 0!important;
      margin: 10px;
  }


  .ant-calendar-input-wrap {
      display: none;
  }


}


