.toast-it {
  background: rgb(105, 190, 121);
  color: #F4F4F4;
  padding: 10px 20px;
  border-radius: 2px;
  text-align: center;
  position: fixed;
  /* center horizontally */
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: TOAST-APPEAR;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  z-index:999;
}

@keyframes TOAST-APPEAR {
  0% {
      opacity: 0;
  }
  15% {
      opacity: 1;
  }
  80% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}